.elementor-665 .elementor-element.elementor-element-220e9aae .author-slider-block:before{background-color:transparent;background-image:linear-gradient(180deg, #02010100 0%, #02010100 100%);}
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider .title, .author-slider-block .inner-box .title
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider-two h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .author-slider-block .inner-box h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider-five .active .title{font-family:"Sen", Sans-serif;font-size:70px;letter-spacing:-3px;}
                    .elementor-665 .elementor-element.elementor-element-220e9aae .author-slider-block .inner-box .play-box i{font-family:"Sen", Sans-serif;font-size:15px;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-220e9aae .btn-style-two .txt, .btn-style-nine .txt, .btn-style-fifteen
                    {font-family:"Sen", Sans-serif;font-size:15px;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-6b8a07ec .sec-title-three.centered .title
                    {font-family:"Sen", Sans-serif;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-6b8a07ec .sec-title-three h2{font-family:"Sen", Sans-serif;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-6b8a07ec .sec-title-three .text{font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-6b8a07ec .feature-block-three .inner-box h4
                    {font-family:"Sen", Sans-serif;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-6b8a07ec .feature-block-three .inner-box .text
                    {font-family:"DM Sans", Sans-serif;font-size:16px;}.elementor-665 .elementor-element.elementor-element-6f70ba96{font-family:"Sen", Sans-serif;font-weight:700;}
                .elementor-665 .elementor-element.elementor-element-6f70ba96 .sec-title h2, .sec-title-three h2, .section-title .title
                {font-family:"Sen", Sans-serif;font-weight:700;}
                .elementor-665 .elementor-element.elementor-element-6f70ba96 .services-section .content-column .text,
                .elementor-665 .elementor-element.elementor-element-6f70ba96 .internet-section-two .content-column .text,
                .about-section .content-column .text,
                .elementor-665 .elementor-element.elementor-element-6f70ba96 .broadband-section .content-column p
                {font-family:"DM Sans", Sans-serif;font-size:16px;}.elementor-665 .elementor-element.elementor-element-51c38a66 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}
                    .elementor-665 .elementor-element.elementor-element-68cc6c38 .feature-block-four .inner-box h5,
                    .elementor-665 .elementor-element.elementor-element-68cc6c38 .feature-block-two .inner-box h5
                    {font-family:"Sen", Sans-serif;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-68cc6c38 .feature-block-four .inner-box .text
                    {font-family:"DM Sans", Sans-serif;}.elementor-665 .elementor-element.elementor-element-2ffaa461:not(.elementor-motion-effects-element-type-background), .elementor-665 .elementor-element.elementor-element-2ffaa461 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAFAFA;background-image:url("../../2022/02/pattern-39.png");background-repeat:no-repeat;}.elementor-665 .elementor-element.elementor-element-2ffaa461{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 70px 0px;}.elementor-665 .elementor-element.elementor-element-2ffaa461 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-665 .elementor-element.elementor-element-19396d2c > .elementor-container{max-width:1200px;}.elementor-665 .elementor-element.elementor-element-19396d2c .elementor-column-gap-custom .elementor-column > .elementor-element-populated{padding:15px;}
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block .upper-box h4,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-two .title-box h4 a,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-four .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-five .inner-box .title,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-three .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-six .upper-box h4
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Sen", Sans-serif;font-weight:400;}
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block .upper-box h4 span,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-two .price-box .price,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-four .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-five .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-three .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-six .price
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block .price-list li,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-two .price-list li,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-four .inner-box .price-list li,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-five .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-three .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block-six .price-list li
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-5543b518 .price-block .button-box .theme-btn .txt,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .btn-style-four .txt,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .btn-style-ten .txt,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .btn-style-eleven .txt,
                    .elementor-665 .elementor-element.elementor-element-5543b518 .btn-style-eight .txt
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block .upper-box h4,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-two .title-box h4 a,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-four .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-five .inner-box .title,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-three .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-six .upper-box h4
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Sen", Sans-serif;font-weight:400;}
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block .upper-box h4 span,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-two .price-box .price,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-four .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-five .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-three .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-six .price
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block .price-list li,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-two .price-list li,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-four .inner-box .price-list li,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-five .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-three .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block-six .price-list li
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-56af615b .price-block .button-box .theme-btn .txt,
                    .elementor-665 .elementor-element.elementor-element-56af615b .btn-style-four .txt,
                    .elementor-665 .elementor-element.elementor-element-56af615b .btn-style-ten .txt,
                    .elementor-665 .elementor-element.elementor-element-56af615b .btn-style-eleven .txt,
                    .elementor-665 .elementor-element.elementor-element-56af615b .btn-style-eight .txt
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block .upper-box h4,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-two .title-box h4 a,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-four .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-five .inner-box .title,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-three .inner-box h4,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-six .upper-box h4
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Sen", Sans-serif;font-weight:400;}
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block .upper-box h4 span,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-two .price-box .price,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-four .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-five .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-three .inner-box .price,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-six .price
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block .price-list li,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-two .price-list li,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-four .inner-box .price-list li,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-five .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-three .inner-box .options-list li,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block-six .price-list li
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .price-block .button-box .theme-btn .txt,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .btn-style-four .txt,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .btn-style-ten .txt,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .btn-style-eleven .txt,
                    .elementor-665 .elementor-element.elementor-element-221e65b6 .btn-style-eight .txt
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-6741e249 .area-section .title-column .phone-box .box-inner
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-6741e249 .area-section .title-column .phone-box a
                    {font-family:"Sen", Sans-serif;}.elementor-665 .elementor-element.elementor-element-74e3e5cf{margin-top:-10px;margin-bottom:0px;}
                    .elementor-665 .elementor-element.elementor-element-206273ff .testimonial-block-four .inner-box .text
                    {font-family:"DM Sans", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-206273ff .testimonial-block-four .inner-box h6
                    {font-family:"Sen", Sans-serif;font-weight:700;}
                    .elementor-665 .elementor-element.elementor-element-6875e238 .sec-title h2,
                    .elementor-665 .elementor-element.elementor-element-6875e238 .sec-title-three h2,
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-6875e238 .feature-block .inner-box h6 a,
                    .elementor-665 .elementor-element.elementor-element-6875e238 .streaming-block .inner-box h4 a,
                    .elementor-665 .elementor-element.elementor-element-6875e238 .video-block-four .inner-box h4
                    {font-family:"Sen", Sans-serif;}
                    .elementor-665 .elementor-element.elementor-element-26333529 .title-box h4,
                    .elementor-665 .elementor-element.elementor-element-26333529 .location-section .info-column .info li strong
                    {font-family:"Sen", Sans-serif;}.elementor-665 .elementor-element.elementor-element-26333529 .contact-map iframe{height:500px;pointer-events:none;}@media(max-width:767px){
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider-two h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .author-slider-block .inner-box h1,
                    .elementor-665 .elementor-element.elementor-element-220e9aae .main-slider-five .active .title{font-size:40px;line-height:45px;letter-spacing:-1px;}}