.elementor-49 .elementor-element.elementor-element-673e1a0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:98px 0px 90px 0px;}.elementor-49 .elementor-element.elementor-element-673e1a0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49 .elementor-element.elementor-element-826a332{margin-top:0px;margin-bottom:-25px;padding:0px 0px 0px 0px;}
                    .elementor-49 .elementor-element.elementor-element-1d8db51 .sec-title.light h2,
                    .elementor-49 .elementor-element.elementor-element-1d8db51 .sec-title h2,
                    .elementor-49 .elementor-element.elementor-element-1d8db51 .sec-title-three h2,
                    .elementor-49 .elementor-element.elementor-element-1d8db51 .section-title .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-49 .elementor-element.elementor-element-69a580c > .elementor-container{max-width:1200px;}.elementor-49 .elementor-element.elementor-element-69a580c .elementor-column-gap-custom .elementor-column > .elementor-element-populated{padding:15px;}
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:500;}
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block .upper-box h4 span,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-two .price-box .price,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-four .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-five .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-three .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-dbe4542 .price-block-six .price
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:500;}
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block .upper-box h4 span,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-two .price-box .price,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-four .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-five .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-three .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-48deda6 .price-block-six .price
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:500;}
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block .upper-box h4 span,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-two .price-box .price,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-four .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-five .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-three .inner-box .price,
                    .elementor-49 .elementor-element.elementor-element-aee4ec7 .price-block-six .price
                    {font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-49 .elementor-element.elementor-element-bef34a0:not(.elementor-motion-effects-element-type-background), .elementor-49 .elementor-element.elementor-element-bef34a0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#DD2222;}.elementor-49 .elementor-element.elementor-element-bef34a0 > .elementor-background-overlay{background-color:#E70F0F;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49 .elementor-element.elementor-element-bef34a0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-49 .elementor-element.elementor-element-194ed16 > .elementor-element-populated{padding:0px 0px 0px 0px;}
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .content-column h2,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .main-slider-two h1,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .sec-title-three h2,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .cta-section-five .title-column h2,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .speedtest-section h3,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .order-section .content-column h3
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .internet-section .content-column .price,
                    .elementor-49 .elementor-element.elementor-element-8edc0a5 .internet-section-three .content-column .price
                    {font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-49 .elementor-element.elementor-element-be97b55{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 50px 0px;}.elementor-49 .elementor-element.elementor-element-be97b55 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49 .elementor-element.elementor-element-13fb789{margin-top:0px;margin-bottom:-25px;padding:0px 0px 0px 0px;}
                    .elementor-49 .elementor-element.elementor-element-f1eb7b2 .sec-title.light h2,
                    .elementor-49 .elementor-element.elementor-element-f1eb7b2 .sec-title h2,
                    .elementor-49 .elementor-element.elementor-element-f1eb7b2 .sec-title-three h2,
                    .elementor-49 .elementor-element.elementor-element-f1eb7b2 .section-title .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-49 .elementor-element.elementor-element-1ddb2d3 > .elementor-container{max-width:1340px;}.elementor-49 .elementor-element.elementor-element-1ddb2d3 .elementor-column-gap-custom .elementor-column > .elementor-element-populated{padding:15px;}
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-31ec586 .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-c9b2cc3 .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8b8314a .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-two .title-box .title,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-three .inner-box .title
                {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block .upper-box h4,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-two .title-box h4 a,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-four .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-five .inner-box .title,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-three .inner-box h4,
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-six .upper-box h4
                    {font-family:"Poppins", Sans-serif;font-weight:700;}
                    .elementor-49 .elementor-element.elementor-element-8d7709e .price-block-two .inner-box .text,
                    .price-block-six .text
                    {font-family:"Poppins", Sans-serif;font-weight:700;}@media(max-width:1024px) and (min-width:768px){.elementor-49 .elementor-element.elementor-element-1f1621e{width:50%;}.elementor-49 .elementor-element.elementor-element-e25a0d9{width:50%;}.elementor-49 .elementor-element.elementor-element-14bb047{width:50%;}.elementor-49 .elementor-element.elementor-element-f53644d{width:50%;}}