/* Theme default css */
body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	overflow-x: hidden;
}
img {
	height: auto;
}
code {
	color: #df0303;
}
button {
	transition: 0.3s;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
	width: 100%;
}
img {
	transition: 0.3s;
}
.f-left {
	float: left;
}

.f-right {
	float: right;
}

.fix {
	overflow: hidden;
}

a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
button {
	cursor: pointer;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}
input:focus::placeholder {
	opacity: 0;
}
input:focus::-moz-placeholder {
	opacity: 0;
}
textarea:focus::placeholder {
	opacity: 0;
}
textarea:focus::-moz-placeholder {
	opacity: 0;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

ul {
	margin: 0px;
	padding: 0px;
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

label {
	color: #444;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}

*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}

*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}

.separator {
	border-top: 1px solid #f2f2f2;
}

/* blog css */
.post-text a:hover {
	color: #ededed;
}

.postbox__video img,
article.postbox .postbox__thumb img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
	height: auto;
	width: inherit;
}

.details_content_single ul li a:hover {
	color: #df0303;
}

.navigation-border {
	border-top: 2px solid #f7f7f7;
	overflow: hidden;
}

.navigation-border {
	border-top: 2px solid #f7f7f7;
	overflow: hidden;
}
.theme-navigation span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	margin-bottom: 10px;
}
.theme-navigation span a {
	color: #666;
}

.theme-navigation span a:hover {
	color: #3345a7;
}
.theme-navigation h4 {
	font-size: 23px;
	margin: 0;
	font-weight: 700;
	line-height: 1.3;
}
.theme-navigation h4 a {
	color: #004876;
}
.theme-navigation h4 a:hover {
	color: #3345a7;
}
.b-0 {
	border: 0;
}

.sidebar-search-form {
	position: relative;
}

.about-me img {
	margin-bottom: 25px;
	border-radius: 50%;
}

.about-me h4 {
	font-size: 18px;
	letter-spacing: 1px;
}

.widget-social-icon a {
	display: inline-block;
	margin: 0 8px;
	color: #3345a7;
}

.widget-social-icon a:hover {
	color: #3345a7;
}
.banner-widget img {
	max-width: 100%;
}
.widget .recent-posts > li {
	overflow: hidden;
}
.widget .recent-posts > li:not(:last-child) {
	overflow: hidden;
	margin-bottom: 30px;
}

.widget-posts-image {
	float: left;
}
.widget-posts-image img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 20px;
	margin-bottom: 0;
}
.recent-posts .widget-post-list:not(:last-child) {
	margin-bottom: 30px;
}
.widget-posts-body {
	overflow: hidden;
	padding-top: 8px;
}

.widget-posts-title {
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 600;
}

.widget-posts-title a {
	color: #001d23;
}

.widget-posts-title a:hover {
	color: #3345a7;
}
.widget-posts-meta {
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 500;
	color: #28484f;
	margin-bottom: 7px;
}
.widget-post-list .widget-posts-meta {
	margin: 0;
}

/* author css */
.author-wrapper {
	background: #f7f7fd;
	padding: 37px 71px 35px 40px;
	overflow: hidden;
	border-left: 5px solid #1876df;
}
.author-img {
	margin-right: 0;
	margin-top: 0;
}
.author-img img {
	border-radius: 50%;
	border: 5px solid #fff;
}
.author-text {
	overflow: hidden;
}
.author-text > h4 {
	text-transform: capitalize;
}
.author-text > p {
	margin-bottom: 0;
}
.author-icon a:hover {
	color: #3345a7;
}

.blog-coment-title h2 {
	font-size: 22px;
	margin-bottom: 0;
	color: #15287d;
}
.post-comments-title h2 {
	font-size: 26px;
	margin-bottom: 30px;
	color: #15287d;
}

ul .comment-respond {
	margin-bottom: 40px;
}

.logged-in-as {
	line-height: 1;
}

/* 25. Pagination  */
.blog-details-border {
	margin-top: 40px;
	background: #fff;
}
.project-details-content span {
	font-size: 13px;
	color: #8583b1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.project-details-content span a {
	color: #8583b1;
}
.project-details-content span a:hover {
	color: #1876df;
}
.project-details-content h3 {
	margin-top: 8px;
	margin-bottom: 20px;
	line-height: 1.2;
	font-size: 22px;
}
.project-details-content h3 a:hover {
	color: #096bd8;
}
.page-area .post-comments-form {
	margin-bottom: 0;
	clear: both;
	padding-top: 0;
}
.nextbit-page-content ol,
.nextbit-page-content ul {
	padding-left: 22px;
}

.nextbit-page-content ul li {
	list-style: disc;
}
.nextbit-page-content ol li {
	list-style: decimal;
}

/*blog-post-tag*/
.blog__tag {
	overflow: hidden;
	clear: both;
	padding-top: 25px;
}

.post_footer {
	overflow: hidden;
	clear: both;
}

/* Sidebar widget css */
.sidebar-page-container .widget ul {
	padding: 0;
	margin: 0;
}
.sidebar-page-container .widget ul li ul {
	padding-left: 15px;
	padding-top: 15px;
}
.rssSummary {
	line-height: 27px;
	margin: 10px 0;
}

.widget ul li a.rsswidget {
	line-height: 1.3;
}
.widget .footer-post h5 a {
	font-size: 16px;
	line-height: 1.3;
}
.widget ul li:first-child {
	padding-top: 0;
}
.widget_recent_entries ul li a {
	line-height: 26px;
}

.widget_media_image img {
	width: 100%;
}
.widget.widget_rss li span {
	display: block;
}
li .blog-footer-meta span {
	float: none !important;
	font-size: 13px !important;
}
.footer__widget .widget_recent_comments li span,
.footer__widget .widget_recent_comments li span a {
	float: none;
	font-weight: 500;
	color: #001d23;
}
.widget_recent_comments li span,
.widget_recent_comments li span a {
	float: none;
	font-weight: 500;
	color: #fff;
}
.sidebar__widget.widget_recent_comments li span,
.sidebar__widget.widget_recent_comments li span a {
	font-weight: 500;
	color: #15287d;
}

.sidebar__widget.widget_rss ul li a.rsswidget {
	font-weight: 500;
	color: #1b2026;
}
.footer_widget {
	color: #fff;
}
.footer_widget.widget_rss ul li a.rsswidget {
	color: #fff;
	font-weight: 500;
}
.footer_widget.widget_rss ul li a.rsswidget:hover {
	color: #df0303;
}

.widget li span.post-date {
	float: none;
	margin-top: 7px;
	display: block;
	font-size: 13px;
}
.textwidget img {
	max-width: 100%;
}

/* calendar widget css */
.wp-calendar-nav {
	display: flex;
	justify-content: space-between;
}
.widget_calendar {
	float: none;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	text-align: right;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.footer_widget #wp-calendar caption {
	color: #fff;
}
.footer_widget .wp-calendar-nav a {
	color: #fff;
}
.footer_widget ul ul {
	padding-left: 15px;
	padding-top: 10px;
}
.footer_widget.widget_recent_comments ul li a::before,
.footer_widget.widget_recent_entries ul li a::before,
.footer_widget.widget_rss ul li a::before {
	display: none;
}
.footer_widget .rsswidget {
	color: #fff;
}
#wp-calendar thead th {
	padding: 8px;
	text-align: center;
	color: #221f1f;
	background: #ddd;
}

#wp-calendar thead {
	font-size: 14px;
}

#wp-calendar tbody {
	color: #666;
}
#wp-calendar tbody td {
	background: #f7f7f7;
	border: 1px solid #fff;
	text-align: center;
	padding: 8px 0;
	transition: 0.3s;
}
.footer_widget #wp-calendar tbody td {
	background: #fff;
	border: 1px solid #ddd;
}

.footer__widget #wp-calendar caption {
	color: #d1cfdd;
}
.footer__widget .wp-calendar-nav a {
	color: #d1cfdd;
}
#wp-calendar tbody td:hover,
#wp-calendar tbody td:hover a {
	background: #221f1f;
	color: #fff;
}
#wp-calendar tbody td a {
	background: transparent;
}
#wp-calendar tbody .pad,
#wp-calendar tbody .pad:hover {
	background: none;
}
.footer-area #wp-calendar tbody .pad:hover {
	background: #fff;
}

#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
}
.latest-comments ul li ul.children {
	padding-left: 70px;
}

.latest-comments ul li ul.children {
	padding-top: 0;
}
.no-results.not-found {
	background: #fff;
	padding: 41px 100px;
	text-align: center;
	border: 2px solid #f4f3fb;
}
.pageontent.blog-search-content p {
	margin-bottom: 20px;
}
.blog-search-title {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}
.error-404-title {
	line-height: 1;
	font-size: 140px;
	font-weight: 700;
	margin-bottom: 15px;
}
.error-title {
	font-size: 42px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 600;
}
.error-text {
	margin-bottom: 30px;
}

.page-content.mb-40 {
	margin-bottom: 30px;
}
.page-header {
	background: #f5faff;
	margin-bottom: 30px;
	padding: 30px;
}
.page-header h1 {
	font-size: 26px;
	font-weight: 600;
	margin: 0;
}
.no-results.not-found .page-header {
	background: none;
	margin-bottom: 30px;
	padding: 0;
}
.navigation.posts-navigation .nav-next {
	float: right;
}
.navigation.posts-navigation .nav-previous {
	float: left;
}
.navigation.posts-navigation .nav-links {
	overflow: hidden;
}
.navigation.posts-navigation .nav-links a {
	text-transform: uppercase;
	background: #fff;
	border: 2px solid #3345a7;
	color: #3345a7;
}
.navigation.posts-navigation .nav-links a:hover {
	background: #3345a7;
	color: #fff;
}
.navigation.posts-navigation {
	overflow: hidden;
	margin-bottom: 40px;
}

/* breadcrumb css */
.breadcrumb-menu {
	padding: 0;
	margin: 0;
}
.breadcrumb-menu- li {
	display: inline-block;
	padding: 0 15px;
	position: relative;
	line-height: 1;
	color: #cfcfcf;
}
.breadcrumb-menu- li:last-child {
	padding-right: 0;
}
.breadcrumb-items- a {
	color: #cfcfcf;
}
.breadcrumb-menu- li::before {
	content: "\f105";
	font-family: "Font Awesome 5 Pro";
	position: absolute;
	left: -1px;
	top: 0px;
	color: #ddd;
}
.breadcrumb-menu- li:first-child:before {
	display: none;
}

.sidebar-link h3 {
	font-size: 36px;
	font-weight: 700;
}
.servicee-sidebar {
	border: 2px solid #f4f3fb;
	padding: 30px;
}
.servicee-sidebar ul {
	margin-bottom: 0;
}
.servicee-sidebar ul li {
	border-bottom: 1px solid #eaeaea;
	color: #4c4c4c;
	margin: 0;
	overflow: hidden;
	padding: 15px 0;
	padding-top: 15px;
	position: relative;
}

.servicee-sidebar ul li a {
	color: #7886a0;
}
.servicee-sidebar ul li:last-child {
	border: 0;
	margin: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.servicee-sidebar ul li a:hover {
	color: #1876df;
}
.project-status ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 0;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
}
.project-status {
	background: #f4f9fc;
	padding: 30px;
}
.project-status ul li b {
	margin-right: 5px;
	display: inline-block;
	color: #28345d;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 0;
}
.project-status ul li:last-child {
	border: 0;
	padding-bottom: 0;
}
.project-status ul li:first-child {
	padding-top: 0;
}

/* page table css */
.nextbit-page-content table {
	margin-bottom: 30px;
}
.nextbit-page-content table tbody td {
	text-align: center;
}
.nextbit-page-content table a {
	color: #777;
}
.nextbit-page-content table td {
	border-color: #ddd;
	padding: 12px 12px;
}
.nextbit-page-content th,
.nextbit-page-content td {
	font-weight: normal;
	text-align: left;
	border-width: 0 1px 1px 0;
}
.nextbit-page-content table,
.nextbit-page-content th,
.nextbit-page-content td {
	border: 1px solid #d1d1d1;
}
.nextbit-page-content table th {
	padding: 12px 12px;
	font-size: 15px;
	border-color: #ddd;
	text-align: center;
	font-weight: 600;
}
.nextbit-page-content ol li,
.nextbit-page-content ul li {
	margin-bottom: 7px;
}
.nextbit-page-content ol li ol,
.nextbit-page-content ul li ul {
	margin-top: 7px;
}

.sidebar-page-container table {
	margin-bottom: 30px;
}
.sidebar-page-container table tbody td {
	text-align: center;
}
.sidebar-page-container table td {
	border-color: #ddd;
	padding: 12px 12px;
}
.sidebar-page-container table td a {
	color: #1a1a1a;
}
.sidebar-page-container h1 {
	font-size: 45px;
}
.sidebar-page-container h2 {
	font-size: 35px;
}
.sidebar-page-container h3 {
	font-size: 30px;
}
.sidebar-page-container th,
.sidebar-page-container td {
	font-weight: normal;
	text-align: left;
	border-width: 0 1px 1px 0;
	padding: 10px 15px;
}
.sidebar-page-container table,
.sidebar-page-container th,
.sidebar-page-container td {
	border: 1px solid #d1d1d1;
}
.sidebar-page-container table th {
	padding: 12px 12px;
	font-size: 15px;
	border-color: #ddd;
	text-align: center;
	font-weight: 600;
}
.sidebar-page-container table {
	margin-bottom: 30px;
	width: 100%;
}
.sidebar-page-container table tbody td {
	text-align: center;
}
.sidebar-page-container table td {
	border-color: #ddd;
	padding: 12px 12px;
}
.sidebar-page-container th,
.sidebar-page-container td {
	font-weight: normal;
	text-align: left;
	border-width: 0 1px 1px 0;
}
.sidebar-page-container table,
.sidebar-page-container th,
.sidebar-page-container td {
	border: 1px solid #d1d1d1;
}
.sidebar-page-container table th {
	padding: 12px 12px;
	font-size: 15px;
	border-color: #ddd;
	text-align: center;
	font-weight: 400;
}
#wp-calendar tbody td#today {
	background: #221f1f;
	color: #fff;
}
#wp-calendar tbody td#today a {
	color: #fff;
}

.post-text .wp-caption.aligncenter {
	margin-top: 40px;
}
.post-text .alignright.size-thumbnail {
	overflow: hidden;
	clear: both;
}

/* custo unit css */
.post-comment .comment-list-wrap > ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.sidebar-page-container dl,
.sidebar-page-container ol,
.sidebar-page-container ul {
	margin-top: 0;
	margin-bottom: 25px;
}
.sidebar-page-container > ul,
.sidebar-page-container > ol,
.sidebar-page-container ul,
.sidebar-page-container ol {
	padding-left: 25px;
}
.sidebar-page-container ol li,
.sidebar-page-container ul li {
	padding-top: 7px;
}
.sidebar-page-container ol ol ol,
.sidebar-page-container ol ul ul,
.sidebar-page-container ul ol ol,
.sidebar-page-container ul ul ul {
	margin-bottom: 0;
}
.sidebar-page-container ol ul,
.sidebar-page-container ul ol,
.sidebar-page-container ul ul,
.sidebar-page-container ol ul ol {
	margin-bottom: 0;
}
ul {
	list-style: disc;
}
.wp-block-button .wp-block-button__link {
	color: #fff !important;
}
.post-text > h6 {
	margin-bottom: 20px;
}

.sidebar-page-container h3 {
	margin-top: 20px;
	margin-bottom: 5px;
}
#wp-calendar #next a,
#wp-calendar #prev a {
	font-size: 13px;
	font-weight: 600;
}

.sidebar-page-container table {
	margin-bottom: 30px;
}
.sidebar-page-container table tbody td {
	text-align: center;
}
.sidebar-page-container table td {
	border-color: #ddd;
	padding: 12px 12px;
}
.sidebar-page-container th,
.sidebar-page-container td {
	font-weight: normal;
	text-align: left;
	border-width: 0 1px 1px 0;
}
.sidebar-page-container table,
.sidebar-page-container th,
.sidebar-page-container td {
	border: 1px solid #d1d1d1;
}
.sidebar-page-container table th {
	padding: 12px 12px;
	font-size: 15px;
	border-color: #ddd;
	text-align: center;
	font-weight: 600;
}

.comments-text > p {
	margin-bottom: 15px;
}
.comments-text ul li,
.comments-text ol li {
	padding-top: 5px;
}
#wp-comment-cookies-consent {
	width: auto;
	display: inline-block;
	height: auto;
	margin-right: 20px;
}
.comment-form-cookies-consent label {
	display: inline-block;
}
.comment-form-cookies-consent {
	margin-left: 18px;
	display: none;
}
pre {
	display: block;
	font-size: 87.5%;
	color: #212529;
	border: 1px solid #ddd;
	padding: 15px;
}
dd + dt {
	margin-top: 20px;
}

.page-links {
	width: 100%;
	clear: both;
	margin-bottom: 30px;
	margin-top: 20px;
}
.page-links > span.page-links-title {
	border: 0;
	color: inherit;
}
.page-links a,
.page-links > span {
	border: 2px solid #ddd;
	display: inline-block;
	min-width: 35px;
	text-align: center;
	margin-left: 2px;
	height: 33px;
	line-height: 30px;
	margin-right: 3px;
	color: #444;
}
.page-links > span {
	border: 2px solid #221f1f;
	color: #221f1f;
}
.page-links a:hover {
	border: 2px solid #221f1f;
	color: #221f1f;
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
	margin-bottom: 0 !important;
}
.comments-text > ul,
.comments-text > ol {
	margin-bottom: 20px;
}
#recentcomments li a {
	line-height: 1.5;
}
.widget.widget_recent_comments ul li a {
	display: unset;
	line-height: 27px;
	line-height: 27px;
}
.widget.widget_recent_comments ul li .comment-author-link a {
	color: #ffff;
}
.tag-space {
	display: block;
	width: 100%;
	clear: both;
	margin-top: 20px;
}
.size-thumbnail {
	margin-bottom: 20px;
}
.no-results.not-found .page-header {
	padding-top: 0;
	padding-bottom: 0;
}

.search-form2 .form-control {
	height: 50px;
	border-radius: inherit;
}
.search-form2 {
	position: relative;
}

.archive-description {
	margin-top: 15px;
}

.paginations ul li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.paginations ul li a,
.paginations ul li .page-numbers {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	text-align: center;
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 30px;
	padding: 0;
	line-height: 56px;
	display: inline-block;
	border: 2px solid #eaebec;
}
.paginations ul li:hover a,
.paginations ul li .current {
	background: #1876df;
	color: #fff;
	border-color: #1876df;
}
.paginations ul li:hover a:after,
.paginations ul li.active a:after {
	opacity: 1;
}
.paginations ul li:hover a:before,
.paginations ul li.active a:before {
	opacity: 1;
}
.paginations li .prev {
	text-transform: uppercase;
	font-weight: 700;
}
.paginations li .next {
	text-transform: uppercase;
	font-weight: 700;
}

.footer-area-bottom {
	padding: 15px 0;
}
.copy-right p {
	color: #999;
	margin: 0;
}
.footer_widget select {
	width: 100%;
	border-radius: 0;
	height: 50px;
	color: #1a1a1a;
}
/*theme unit test css */
.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

#content[tabindex="-1"]:focus {
	outline: 0;
}

/* alignments css */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em !important;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
}

/* clearings css */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
#wp-calendar caption {
	color: #1a1a1a;
}
.widget select {
	max-width: 100%;
	height: 50px;
	width: 100%;
	color: #1a1a1a;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0;
}
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comment-content a {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.custom-logo-link {
	display: inline-block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-size: 14px;
	font-style: italic;
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 10px;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding-right: 5px !important;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color {
	background-color: #fff4ef;
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	margin-top: 10px;
	display: block;
}
.logged-in-as a {
	color: #1b2026;
	font-weight: 500;
}
.logged-in-as a:hover {
	color: #df0303;
}

.wp-block-column:not(:first-child),
.wp-block-column:nth-child(2n) {
	margin-left: 10px;
}
.wp-block-column:not(:last-child) {
	margin-right: 10px;
}
.wp-block-column:nth-child(2n + 1) {
	margin-right: 10px;
}
.post-text > .alignwide {
	margin-left: 0;
	margin-right: 0;
}
.post-text p.has-large-font-size {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.wp-block-media-text.alignfull.has-media-on-the-right.has-background.is-stacked-on-mobile {
	margin-bottom: 20px;
}
.wp-block-preformatted {
	margin: 30px 0;
}

.has-very-light-gray-color.has-very-light-gray-color {
	color: #fff;
	background: #3345a7 !important;
}
.wp-block-archives select,
.wp-block-archives .postform {
	height: 50px;
	width: 200px;
	border: 1px solid #ddd;
	padding: 0 10px;
}
.wp-block-categories .postform {
	width: 200px;
	border: 1px solid #ddd;
	padding: 0 10px;
	float: none;
	margin-bottom: 15px;
}
.wp-block-archives .nice-select {
	float: none;
	margin-bottom: 15px;
	width: 200px;
	margin-bottom: 15px;
}
.wp-block-latest-comments {
	padding-left: 0 !important;
}
.wp-block-latest-posts.has-dates {
	padding-left: 0;
}
.wp-block-archives li a,
.wp-block-categories li a {
	color: #1a1a1a;
}

.footer_widget .wp-block-archives li a,
.footer_widget .wp-block-categories li a {
	color: #fff;
}

.wp-block-archives li a:hover,
.wp-block-categories li a:hover {
	color: #df0303;
}
.wp-block-search__input {
	width: 100%;
	height: 50px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 0 15px;
}
.wp-block-cover {
	margin-bottom: 30px;
}
.wp-block-search .wp-block-search__button {
	margin-left: 0;
	background: #000;
	color: #fff;
	border: 0;
	padding: 12px 40px;
	margin-bottom: 14px;
}
.copyright__text p {
	margin: 0;
}

.nextbit-page-content figure.wp-caption.aligncenter {
	margin-top: 40px;
}
.nextbit-page-content .size-full.alignright {
	margin-bottom: 35px;
	margin-top: 20px;
	clear: both;
}

.nextbit-page-content .post-comments-form {
	margin-top: 50px;
}
.nextbit-page-content .post-comments {
	margin-top: 40px;
}

.nextbit-page-content h2 {
	font-size: 36px;
	margin-bottom: 0.5rem;
}

.nextbit-page-content h3 {
	font-size: 30px;
}

.nextbit-page-content blockquote p {
	color: #000;
	text-align: center;
	padding-left: 0px;
}

.nextbit-page-content blockquote::before {
	color: #df0303;
	position: static;
	font-size: 30px;
}

.page-links > span {
	border: 2px solid #1b2026;
	color: #1b2026;
}
.post-text a:hover {
	color: #1b2026;
}

.post-text a {
	color: #1b2026;
}

.wp-block-tag-cloud a,
.blog__tag.tagcloud a,
.tagcloud a {
	position: relative;
	display: inline-block;
	line-height: 24px;
	padding: 8px 20px 8px;
	margin: 0px 6px 10px 0px;
	color: rgb(37, 37, 37);
	text-align: center;
	font-size: 14px !important;
	background: none;
	font-weight: 400;
	border-radius: 0px;
	border: 1px solid #d7d7d7;
	text-transform: capitalize;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}
.wp-block-tag-cloud a:hover,
.blog__tag.tagcloud a:hover,
.tagcloud a:hover {
	border-color: #df0303;
	background-color: #df0303;
	color: #ffffff;
}

.wp-block-tag-cloud a {
	box-shadow: none;
}

.wp-block-tag-cloud {
	margin-top: -10px;
}

.related_tag a:not(:last-child) {
	margin-right: 10px;
}

.wp-block-calendar {
	margin-bottom: 30px;
}
.post-text .blocks-gallery-grid img {
	margin: 0;
}
.page-links a:hover {
	border: 2px solid #221f1f;
	color: #221f1f;
}

.post-password-form input[type="password"] {
	font-size: 1.2rem;
	line-height: 20px;
	padding: 12px 20px;
	border: 1px solid #e4e4f2;
	width: 100%;
	border-radius: 0;
	height: auto;
}
.post-password-form label {
	width: 100%;
}
.post-password-form input[type="submit"] {
	background-color: #df0303;
	border: none;
	padding: 10px 40px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
	font-weight: 600;
	width: auto;
	height: auto;
	border-radius: 0px;
	margin-top: 10px;
}
.post-password-form input[type="submit"]:hover {
	background: #010c3a;
	color: #fff;
}
.postbox__text .blog-post-tag {
	padding-top: 40px;
}

.layout-wrapper .alignright.size-thumbnail {
	margin-bottom: 20px;
	clear: both;
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	width: calc((100% - 16px) / 2);
}
.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	margin: 0 16px 16px 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.blocks-gallery-grid.columns-2 .blocks-gallery-image:nth-of-type(2n),
.blocks-gallery-grid.columns-2 .blocks-gallery-item:nth-of-type(2n),
.wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),
.wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n) {
	margin-right: 0;
}
.wp-block-gallery.columns-2.is-cropped li.blocks-gallery-item {
	width: calc((100% - 16px) / 2) !important;
}
.wp-block-search .wp-block-search__input {
	width: 100%;
	margin: 0;
}
.wp-block-button {
	margin-bottom: 15px;
}
.wp-block-cover-text {
	color: #fff !important;
}
.wp-block-cover-text a,
p.wp-block-cover-text a {
	color: #fff;
}

.wp-block-gallery .blocks-gallery-grid {
	padding-left: 0;
	margin-bottom: 0;
}
.blocks-gallery-caption {
	margin-bottom: 40px;
}
.wp-block-group.has-background {
	margin-bottom: 25px;
}
.is-style-outline .wp-block-button__link {
	border: 2px solid #222;
}
.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid #222;
	color: #222 !important;
}

.widget .nice-select,
.footer_widget .nice-select {
	float: none;
	border-radius: 0;
}
.widget .nice-select .option,
.footer_widget .nice-select .option {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
}
.widget .nice-select::after,
.footer_widget .nice-select::after {
	right: 18px;
}
.sidebar-page-container .post-comments ol ol,
.sidebar-page-container .post-comments ol ul,
.sidebar-page-container .post-comments ul ol,
.sidebar-page-container .post-comments ul ul {
	margin-bottom: 20px;
}
.sidebar-page-container .post-comments ol ol ol,
.sidebar-page-container .post-comments ol ul ul,
.sidebar-page-container .post-comments ul ol ol,
.sidebar-page-container .post-comments ul ul ul {
	margin-bottom: 0px;
}
.comments-text > ul,
.comments-text > ol {
	margin-bottom: 20px;
}
.nextbit-page-content ol,
.nextbit-page-content ul {
	padding-left: 25px;
	margin-bottom: 25px;
}
.nextbit-page-content ol ol ol,
.nextbit-page-content ol ul ul,
.nextbit-page-content ul ol ol,
.nextbit-page-content ul ul ul {
	margin-bottom: 0px;
}
.nextbit-page-content ol ol,
.nextbit-page-content ol ul,
.nextbit-page-content ul ol,
.nextbit-page-content ul ul {
	margin-bottom: 0;
}
.sidebar-page-container ol ol,
.sidebar-page-container ol ul,
.sidebar-page-container ul ol,
.sidebar-page-container ul ul {
	margin-bottom: 0;
}

.footer_widget.widget_recent_comments li a {
	display: unset;
}

.footer-border .col-lg-3 {
	padding-top: 95px;
	padding-bottom: 40px;
}
.footer-border .col-lg-3::before {
	content: "";
	position: absolute;
	border-left: 1px solid #d9e8ff;
	left: 0;
	top: 0;
	height: 100%;
}
.footer-border .col-lg-3:nth-child(1)::before {
	display: none;
}
.footer-border .col-lg-3:nth-child(2)::before {
	left: 10px;
}
.footer-border .col-lg-3:nth-child(3)::before {
	left: -14px;
}
.footer-border .col-lg-3:nth-child(4)::before {
	left: 15px;
}
.footer-border .col-lg-3:nth-child(2) .footer_widget {
	padding-left: 20px;
}
.footer-border .col-lg-3:nth-child(4) .footer_widget {
	padding-left: 30px;
}
.sidebar__widget-title.mb-50 {
	margin-bottom: 35px;
}
.postbox_text {
	border: 2px solid #ededed;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 40px;
	transition: 0.3s;
	padding-top: 40px;
}
.post-meta span {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-weight: 500;
	text-transform: capitalize;
	margin-right: 20px;
	font-size: 15px;
	display: inline-block;
	color: #747ca2;
}
.post-meta a {
	color: #747ca2;
}
.post-meta a:hover {
	color: #df0303;
}
.post-meta span i {
	color: #3345a7;
	font-size: 14px;
	margin-right: 2px;
}

.blog-title {
	font-size: 32px;
	margin-bottom: 20px;
}

.widget-title-box {
	text-align: center;
}
.cm-btn {
	border: 0;
}
.cm-btn i {
	margin-right: 3px;
}
.blog-post-tag span {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}
.blog-post-tag a {
	border: 2px solid #f6f6f6;
	padding: 12px 25px;
	display: inline-block;
	line-height: 1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	color: #00235a;
	margin-right: 5px;
	margin-top: 5px;
}
.blog-post-tag a:hover {
	background: #3345a7;
	color: #fff;
	border-color: #3345a7;
}
header ul,
footer ul {
	list-style: none;
}
.nextbit-page-content .post-entry > p {
	margin: 32px 0;
	margin-top: 0;
}

.home_front_page .page_title__bread-crumb {
	display: none;
}

.post-text blockquote p {
	margin-bottom: 10px !important;
	line-height: 1.3;
	font-size: 20px;
	color: #1b2026;
	font-weight: 400;
}

.post-content-single blockquote {
	margin-bottom: 55px !important;
	background: #fff;
	padding: 50px 60px;
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	color: #000;
	border: 2px solid #f4f4f4;
	box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
	text-align: center;
}
.post-content-single blockquote::before {
	display: none;
}
.post-content-single blockquote p {
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	color: #000;
	padding: 0px;
	text-align: center;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	line-height: 45px;
}

blockquote cite a {
	color: #df0303;
}

.post-content-single blockquote cite {
	display: block;
	margin-top: 25px;
	font-weight: 500;
	font-size: 20px;
	color: #df0303;
	line-height: 1;
}

.post-content-single blockquote span {
	font-size: 14px;
	color: #999999;
	font-weight: 400;
}

.post-content .post-title a {
	display: block;
}

.format-quote .post-text p {
	font-size: 36px;
	color: #1b2026;
	font-weight: 700;
}

.format-quote .post-text cite {
	font-size: 18px;
	font-style: normal;
}

.format-quote .post-text cite a {
	color: #3345a7;
}

.format-quote .post-text cite::before {
	content: "";
	font-size: 28px;
	padding-bottom: 0px;
	display: inline-block;
	background: #3345a7;
	height: 2px;
	width: 40px;
	font-weight: 400;
	text-align: center;
	top: -4px;
	margin-right: 10px;
	position: relative;
}

.wp-block-column .wp-block-quote {
	border-left: 0;
	padding-right: 30px;
}
.wp-block-image figcaption {
	color: #747ca2;
}
.wp-block-pullquote.is-style-solid-color blockquote {
	display: inline-block;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 20px 20px;
}
.wp-block-quote.has-text-align-right {
	border-right: 0;
}

.post-text img {
	max-width: 100%;
}

.single-post .page__title-content h2 {
	font-size: 55px;
}
.post_gallery .owl-nav div button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 35px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
}
.post_gallery .owl-nav div.owl-next button {
	left: auto;
	right: 35px;
}
.post_gallery .owl-nav div button:hover {
	background: #3345a7;
	color: #fff;
}
.sidebar-posts-bg-thumb {
	height: 80px;
	width: 100px;
	border-radius: 0;
	background-size: cover;
	background-position: left;
}

.news-sidebar .widget ul ul {
	padding-left: 10px;
	padding-top: 14px;
}
.post.sticky {
	position: relative !important;
	border-color: #df0303;
}
.post.sticky .inner-box {
	border-color: #df0303;
}
.post.sticky::before {
	position: absolute;
	content: "\f08d";
	right: 25px;
	top: 25px;
	font-family: "Font Awesome 5 Pro";
	color: #df0303;
	font-size: 30px;
	font-weight: 300;
	transform: rotate(45deg);
}
.wp-block-button.is-style-squared .wp-block-button__link {
	color: #fff !important;
	border-radius: 0;
}
.wp-block-archives-dropdown select,
.wp-block-categories-dropdown.wp-block-categories select {
	width: 250px;
	height: 50px;
	padding: 0 15px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
.wp-block-search .wp-block-search__inside-wrapper {
	position: relative;
}
.wp-block-search__button-outside.wp-block-search__text-button.wp-block-search {
	margin-bottom: 30px;
}
.wp-block-search .wp-block-search__button {
	margin-left: 0;
	background: #df0303;
	color: #fff;
	border: 0;
	padding: 12px 40px;
	margin-bottom: 0;
	height: 100%;
	position: absolute;
	right: 0;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}
.wp-block-search .wp-block-search__button:hover {
	background: #010c3a;
}
.home_front_page .slider__shape {
	display: none;
}

.logo img,
.sidebar-info .standard-logo {
	max-width: 150px;
}

.sidebar-page-container .blog-title {
	display: none;
}
.logo.mb-40 {
	padding: 0;
}
.footer__widget-titl .logo img {
	width: 105px;
}

.sidebar__close-btn span:first-of-type {
	display: none;
}
.sidebar__close-btn span:last-of-type {
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.sidebar__close-btn {
	width: 100px;
	border-radius: 0;
}
.post-text.mb-20 {
	margin-bottom: 0;
}
.sidebar-page-container .post-text.mb-20 p:last-child {
	margin-bottom: 0;
}

.wpcf7-form-control.wpcf7-submit.f-btn.f-btn-3.w-100 {
	margin-bottom: 0;
}
.services__form p {
	margin: 0;
}
.widget_text.services__widget.widget_custom_html {
	padding: 0;
	background: none;
}
.social-links {
	margin-top: 20px;
}
.social-links a {
	margin-right: 15px;
	font-size: 13px;
}

/* footer post css */
.recent-posts-footer .widget-post-list:not(:last-child) {
	margin-bottom: 13px;
}
.recent-posts-footer .widget-posts-body {
	overflow: hidden;
	padding-top: 0;
	position: relative;
	top: -6px;
}
.recent-posts-footer .widget-posts-image img {
	width: 60px;
	height: 60px;
	border-radius: 0;
	margin-right: 20px;
	margin-bottom: 0;
}
.recent-posts-footer .widget-posts-meta i {
	font-size: 14px;
	color: #3345a7;
	margin-right: 3px;
}
.recent-posts-footer .widget-posts-meta {
	color: #6c6c6c;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
	font-weight: 400;
}
.recent-posts-footer .widget-posts-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}
.recent-posts-footer .widget-posts-title a {
	color: inherit;
}
.recent-posts-footer .widget-posts-title:hover {
	color: #3345a7;
}

ul.cat li {
	border-top: 1px solid #eaedff;
	padding: 15px 0;
	overflow: hidden;
}

ul.cat li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.cat li:last-child {
	padding-bottom: 0;
}
ul.cat li a {
	display: block;
	color: #647589;
}

ul.cat li a:hover {
	color: #3345a7;
}

.social-profile a {
	height: 50px;
	width: 50px;
	text-align: center;
	background: #062a4d;
	line-height: 50px;
	margin-right: 2px;
	display: inline-block;
	color: #ffffff;
	margin-bottom: 5px;
}

.social-profile a:hover {
	background: #3345a7;
}

#Instafeed {
	margin: 0 -5px;
	overflow: hidden;
}

#Instafeed li {
	width: 33.33%;
	float: left;
	padding: 0 5px;
	margin-bottom: 10px;
}

#Instafeed li img {
	width: 100%;
}
.bg-none {
	background: none;
}
.blog-post-tag a:last-child {
	margin-right: 0;
}

.blog-share-icon span {
	font-size: 18px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #062a4d;
	display: block;
	margin-bottom: 17px;
}

.blog-share-icon a {
	color: #6f7172;
	font-size: 18px;
	transition: 0.3s;
	margin-right: 22px;
}

.blog-share-icon a:hover {
	color: #3345a7;
}

.blog-share-icon a:last-child {
	margin-right: 0;
}
.theme-author.author {
	background: #fff;
}

.author-img {
	margin-bottom: 20px;
}
.author-img img {
	margin-top: -60px;
}
.author-text h3 {
	font-size: 24px;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.author-text p {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 28px;
}

.author-icon {
	margin-top: 10px;
	margin-bottom: 15px;
}
.blog__author-img img {
	width: 100px;
	border-radius: 10px;
}
.blog__author-content p {
	margin: 0;
	line-height: 24px;
	font-size: 15px;
}
.author-icon a {
	font-size: 14px;
	color: #666;
	margin-right: 10px;
	transition: 0.3s;
}

.author-icon a:hover {
	color: #3345a7;
}

.footer_widget .nice-select .list,
.news-sidebar .nice-select .list,
.post-content .nice-select .list {
	height: 400px;
	overflow-y: scroll;
}

.widget_text .nice-select {
	display: none;
}

.widget_text select {
	display: block !important;
}

.post-content .nice-select {
	margin-bottom: 20px;
}

.post-comment .comment-list .comments-text ul li,
.post-comment .comment-list .comments-text ol li {
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border: none;
	padding-left: 0px;
}
.post-comment .comment-list .comments-text ul,
.post-comment .comment-list .comments-text ol {
	margin-bottom: 20px;
}

.post-comment .comment-list .comments-text ul ul,
.post-comment .comment-list .comments-text ol ol {
	margin-bottom: 0px;
}

ul.children {
	list-style: none;
}

.news-sidebar ul li a {
	padding-left: 20px;
}

.news-sidebar ul li a::after {
	position: absolute;
	content: "\e649";
	left: 0px;
	top: 0px;
	font-family: "themify";
	font-size: 13px;
	color: #3345a7;
	transition: 0.3s;
}

.news-sidebar ul li a:hover::after {
	left: 5px;
}

.news-sidebar .widget_recent_comments ul li a,
.news-sidebar .widget_recent_entries ul li a,
.widget_rss ul li a {
	padding-left: 0px;
}

.news-sidebar .widget_recent_comments ul li a::after,
.news-sidebar .widget_recent_entries ul li a::after,
.widget_rss ul li a::after {
	display: none;
}

.nextbit-page-content .size-full.alignright {
	margin-bottom: 35px;
	margin-top: 20px;
	clear: both;
}

.post-comment-form {
	clear: both;
}

.sidebar-page-container .comment-reply-link:hover {
	color: #fff;
}

.nextbit-page-content .comment-reply-link {
	border-color: #1a1a1a52;
}

.footer_widget .nice-select .current,
.footer_widget .nice-select {
	color: #1b2026;
}
.has-text-align-right,
.has-text-align-right p {
	text-align: right !important;
}
.has-text-align-left,
.has-text-align-left p {
	text-align: left !important;
}

.comments-box blockquote::before {
	color: #df0303;
	font-size: 26px;
	position: static;
}

.comments-box blockquote {
	padding: 40px;
	text-align: center;
}

.comments-box blockquote p {
	padding: 0;
	text-align: center;
}
.sidebar .widget ul.children {
	padding-left: 0px;
	padding-top: 5px;
}
.sidebar .widget ul.children li {
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 10px !important;
}
.sidebar .widget_pages ul ul {
	padding-top: 14px !important;
}
.admin-bar .mini-cart-content,
.admin-bar .sticky-header {
	top: 32px !important;
}

.shop-sidebar .tagcloud a,
.shop-sidebar .widget_product_tag_cloud .tagcloud a {
	float: left;
	margin: 0 8px 8px 0;
	font-size: 13px;
	font-size: 0.8666666667rem;
	font-weight: 500;
	display: inline-block;
	padding: 6px 14px;
	color: #6c6c6c;
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	background: transparent;
}
.sidebar ul li:not(:last-child) {
	margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li:hover {
	color: #df0303;
}
#wp-calendar thead th {
	background: #df0303;
	color: #fff;
	font-weight: 600;
}

#wp-calendar tbody td#today {
	background: #df0303;
}
#wp-calendar tbody td:hover {
	background: #df0303;
}
.sidebar .widget_categories li:hover {
	color: #1a1a1a;
}
.widget_recent_comments li a {
	color: #1a1a1a;
}
.widget.widget_recent_comments ul li .comment-author-link a {
	color: #1a1a1a;
}
.sidebar .widget_rss li:hover {
	color: #1a1a1a;
}
.sidebar .widget_rss li a {
	font-weight: 500;
}
.news-block-two .post-meta {
	padding-left: 0px;
	margin-bottom: 0px;
}
.details_content_single ul,
.details_content_single ul li {
	list-style: disc;
}
.blog-detail .post-share-options {
	overflow: hidden;
	width: 100%;
	display: block;
}

.wp-block-image .alignright {
	margin-bottom: 40px;
}
.comment_form {
	margin-top: 45px;
	clear: both;
}
.sidebar-page-container ol,
.sidebar-page-container ol li {
	list-style: decimal;
}
.sidebar-page-container ol,
.sidebar-page-container ol li {
	list-style: decimal;
}

.blog-detail .inner-box blockquote {
	margin-left: 10px;
	margin-right: 10px;
}
.blog-detail .inner-box blockquote {
	background: #fff;
}
.blog-detail .inner-box blockquote a {
	color: #1a1a1a;
}
.details_content_single h3 {
	margin-top: 0;
}
.details_content_single h4 {
	padding-bottom: 0px !important;
}

.details_content_single > h6 {
	margin-bottom: 20px;
}
.wp-block-latest-posts.wp-block-latest-posts__list li,
.wp-block-latest-posts.wp-block-latest-posts__list {
	list-style: none;
}
.details_content_single a {
	color: #1a1a1a;
}
.news-block-two .inner-box .image img {
	width: auto;
}
.blog-detail .inner-box .image img {
	width: auto;
}
.blog-detail .inner-box .image {
	background: transparent;
}
.pagination_wrap ul li {
	padding-top: 0px;
}
.sidebar-page-container h2 {
	margin-bottom: 5px;
}
.sidebar-page-container .comments-area ul ul,
.sidebar-page-container .comments-area ul ul li {
	list-style: disc;
}
.sidebar-page-container .comments-area h3 {
	margin-top: 0;
}

.sidebar-page-container .comments-area ul {
	margin-bottom: 20px;
}

.sidebar-page-container .comments-area .text ul ul {
	margin-bottom: 0;
}
.sidebar-page-container .comments-area ul ol li {
	list-style: decimal;
}
.sidebar-page-container .comments-area ol {
	margin-bottom: 20px;
}
.sidebar-page-container .comments-area .text ol ol {
	margin-bottom: 0;
}
.blog-detail .comment-list-wrap > ul li {
	list-style: none;
}
.blog-detail .comment-list-wrap > ul {
	margin-bottom: 0px;
}
.sidebar-page-container .comments-area .comment {
	padding-left: 0;
	overflow: hidden;
}

.sidebar-page-container .comments-area .comment-box .author-thumb {
	position: static;
	margin: 0;
	overflow: hidden;
	width: auto;
	border-radius: 0px;
	margin-right: 20px;
	float: left;
}
.sidebar-page-container .comments-area .comment-box .author-thumb img {
	border-radius: 50%;
}

.sidebar-page-container .comments-area .comment-box .comment-text {
	width: calc(100% - 110px);
	overflow: hidden;
}

.sidebar-page-container .comments-area ul ul.children li {
	list-style: none;
}
.comment-box .reply_btn {
	margin-top: 10px;
}

.blog-detail .comment-list-wrap > ul {
	padding-left: 0px;
}
.sidebar-page-container .comments-area ul ul .comment-box:last-child {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.sticky-header .header-right-off {
	display: none;
}
.nextbit-page-content a {
	color: #010101;
}
.nextbit-page-content li a {
	font-weight: 500;
}
.nextbit-page-content .comment-list-wrap li {
	list-style: none;
}
.nextbit-page-content .comment-list-wrap ul {
	padding-left: 0;
}
.nextbit-page-content .comment-list-wrap li .author-thumb {
	float: left;
	margin-right: 20px;
}
.nextbit-page-content .comment-list-wrap li .comment-text {
	overflow: hidden;
}
.nextbit-page-content .comment-list-wrap li .author-thumb img {
	border-radius: 50%;
}
.nextbit-page-content .comment-list-wrap li {
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.nextbit-page-content .comment-list-wrap li {
	border-bottom: 1px solid #f0f0f0;
}
.nextbit-page-content .comment-list-wrap ul {
	margin-bottom: 0;
}
.nextbit-page-content .comment-list-wrap li:last-child {
	margin-bottom: 0;
}
.nextbit-page-content .comments-area .group-title {
	margin-bottom: 25px;
}
.nextbit-page-content .comment-list-wrap li .comment-time {
	position: absolute;
	right: 0;
	top: 0;
}
.nextbit-page-content .comment-list-wrap li {
	position: relative;
}
.nextbit-page-content .comment-list-wrap li .comment-text .comment-info {
	margin-bottom: 10px;
}
.nextbit-page-content .comment-list-wrap li p:last-child {
	margin-bottom: 0;
}
.nextbit-page-content p:last-child {
	margin-bottom: 0;
}
.header-lower .logo {
	padding: 21px 0;
}

.main-header .sticky-header .logo {
	padding: 33px 0px;
}
.main-header.header-style-five .sticky-header .logo{
	padding: 22px 0px;
}
.sidebar ul,
.sidebar ul li,
.sidebar ol li,
.sidebar ol {
	list-style: none;
}
ol.wp-block-latest-comments li {
	list-style: none;
}
.nextbit-tags-wrapper {
	clear: both;
	overflow: hidden;
}
.footer-widget-wrapper .wp-block-search .wp-block-search__label,
.footer-widget-wrapper .wp-block-group h2,
.footer-widget-wrapper .footer_widget_title {
	color: #fff;
	border-color: #fff;
}
.footer-widget-wrapper {
	text-align: left;
}
.footer-widget-wrapper a,
.footer-widget-wrapper li {
	color: #fff;
}
.footer-widget-wrapper li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-widget-wrapper select {
	color: #fff;
}
.footer-widget-wrapper option {
	color: #1a1a1a;
}
.footer-widget-wrapper .widget select {
	background: url(../images/icons/icon-select-3.png) right top no-repeat;
}
.footer-widget-wrapper p {
	color: #fff;
}
.footer-widget-wrapper .widget_recent_comments li a:hover,
.footer-widget-wrapper a:hover {
	color: #df0303;
}
.footer-widget-wrapper .widget_recent_comments li a,
.footer-widget-wrapper
	.widget.widget_recent_comments
	ul
	li
	.comment-author-link
	a {
	color: #fff;
}
.footer-widget-wrapper .tagcloud a:hover {
	color: #fff;
}
.footer-top-off .widgets-section {
	padding-top: 93px;
	padding-bottom: 98px;
}
.related-products-section {
	width: 100%;
}
.product-block .inner-box .image img {
	width: 100%;
}
.product-block .inner-box img {
	width: 100%;
}

.sidebar-widget .wp-block-latest-comments {
    margin-bottom: 0;
}

/* jan 17 */
.nextbit-page-content h1 {
    font-size: 45px;
}

@media (max-width: 1024px) {
	.main-header .main-menu .navigation > li > a {
		padding: 35px 0px;
	}
	.main-header .sticky-header .pull-right {
		width: auto;
	}
	.main-header.header-style-seven .outer-box {
		margin-left: var(--margin-left-50);
	}
}
@media (max-width: 991px) {
	.shop-gallery-tabs {
		margin-bottom: 50px;
	}
	.main-header .main-menu .navigation > li {
		margin-right: 10px;
	}
	.main-header.header-style-seven .main-menu .navigation > li {
		margin-right: 15px;
	}
	.main-header.header-style-five .main-menu .navigation > li {
		margin-right: 25px;
	}
	.main-header.header-style-seven .outer-box {
		margin-left: var(--margin-left-50);
	}
	.main-header .logo-box {
		max-width: 100px;
	}
	.main-header .main-menu .navigation > li > a {
		font-size: 15px;
	}
	.header-lower .logo {
		padding: 25px 0;
	}
	.sticky-header .brand_link img {
		max-width: 115px !important;
	}
	#yith-quick-view-content .bdevs-quick-view-images {
        flex: 1 0 100%;
        overflow: hidden;
    }

    #yith-quick-view-content .single_add_to_cart_button {
        padding: 15px 30px;
    }

    #yith-quick-view-content .summary {
        padding: 15px !important;
    }
}
@media (max-width: 782px) {
	.admin-bar .sticky-header {
		top: 46px !important;
	}
}
@media (max-width: 767px) {
	.main-header .pull-right {
		transform: translateY(28px);
	}
	.main-header .sticky-header .pull-right {
		transform: inherit;
		width: 100%;
	}
	.main-header.header-style-four .sticky-header .pull-right {
		width: auto;
	}
	.main-header.header-style-six .sticky-header .pull-right {
		width: auto;
	}
	.sticky-header .header-right-off {
		display: inline-block;
	}
	.main-header .logo-box {max-width: 141px;}
	.header-lower .logo {
		padding: 20px 0;
	}
	.main-header .sticky-header .logo {
		max-width: 143px;
	}
	.sticky-header .brand_link img {
		max-width: 130px;
	}
	.main-header.header-style-seven .outer-box {
		margin-left: var(--margin-left-30);
	}
}
@media (max-width: 600px) {
	.admin-bar .sticky-header {
		top: 0px !important;
	}
	.page-wrapper {
		position: inherit !important;
		overflow: inherit !important;
	}
}
@media (max-width: 575px) {
	.sidebar-page-container .comments-area ul {
		padding-left: 10px;
	}
	.sidebar-page-container .comments-area .comment-box .author-thumb {
		float: none;
		width: 90px;
		margin-right: 00;
		margin-bottom: 20px;
	}
	.sidebar-page-container .comments-area .comment-box .comment-text {
		width: 100%;
	}
}
@media (max-width: 400px) {
	.main-header.header-style-seven .outer-box {
		margin-left: 0;
	}
}
